<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="/favicon.ico">
    <link rel="stylesheet" href="./reset.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
          integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>kanboo</title>
    <style>.vue__time-picker input.vue__time-picker-input {
        width: 98%;
        background-color: #2C2F3B;
        border: none;
        border-radius: 8px;
        margin: 3px;
        margin-bottom: 10px;
        color: #fff;
    }

    .v-md-textarea-editor pre,
    .v-md-textarea-editor textarea {
        color: #000;
        background: #fff;
    }</style>
    <link href="/js/chunk-2d216214.02f52b64.js" rel="prefetch">
    <link href="/js/chunk-2d216257.cfe3d5b5.js" rel="prefetch">
    <link href="/js/chunk-3ff2da82.180b1e76.js" rel="prefetch">
    <link href="/css/app.ee823abc.css" rel="preload" as="style">
    <link href="/css/chunk-vendors.add8cc3b.css" rel="preload" as="style">
    <link href="/js/app.9ccbc585.js" rel="preload" as="script">
    <link href="/js/chunk-vendors.653dac54.js" rel="preload" as="script">
    <link href="/css/chunk-vendors.add8cc3b.css" rel="stylesheet">
    <link href="/css/app.ee823abc.css" rel="stylesheet">
    <link rel="stylesheet" href="./blackTheme.css">
</head>
<body>
<noscript><strong>We're sorry but kanboo doesn't work properly without JavaScript enabled. Please enable it to
    continue.</strong></noscript>
<div id="app"></div>
<script src="/js/chunk-vendors.653dac54.js"></script>
<script src="/js/app.9ccbc585.js"></script>
</body>
</html>